<div class="uk-section uk-flex uk-flex-middle uk-animation-fade" uk-height-viewport>
  <div class="uk-width-1-1">
    <div class="uk-container">
      <div class="uk-grid-margin uk-grid uk-grid-stack" uk-grid>
        <div class="uk-width-1-1@m">
          <div class="uk-margin uk-width-large uk-margin-auto uk-card uk-card-default uk-card-body uk-box-shadow-large">

            <h3 class="uk-card-title uk-text-center"><%= t('login') %></h3>
            <%= form_for(:session, url: login_path) do |f| %>

              <%= render 'shared/error_messages', obj: nil %>

              <div class="uk-margin <%= 'uk-text-right' if I18n.locale == :ar %>">
                <%= f.label :phone, t('phone') %>
                <div class="uk-inline uk-width-1-1">
                  <span class="uk-form-icon <%= 'uk-form-icon-flip' if I18n.locale == :ar %>" uk-icon="icon: phone"></span>
                  <%= f.phone_field :phone, class: "uk-input uk-form-large #{'uk-text-right' if I18n.locale == :ar}" %>
                </div>
              </div>

              <div class="uk-margin <%= 'uk-text-right' if I18n.locale == :ar %>">
                <%= f.label :password, t('password') %>
                <div class="uk-inline uk-width-1-1">
                  <span class="uk-form-icon <%= 'uk-form-icon-flip' if I18n.locale == :ar %>" uk-icon="icon: lock"></span>
                  <%= f.password_field :password, class: "uk-input uk-form-large #{'uk-text-right' if I18n.locale == :ar}" %>
                </div>
              </div>

              <div class="uk-margin">
                <%= f.submit t('login'), class: "uk-button uk-button-danger uk-button-large uk-width-1-1" %>
              </div>

              <div class="uk-text-small uk-text-center">
                <p><%= t('new_user') %> <%= link_to t('signup_now'), signup_path %></p>
              </div>

            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
