<div class="uk-section uk-flex uk-flex-middle uk-animation-fade" uk-height-viewport>
  <div class="uk-width-1-1">
    <div class="uk-container">
      <div class="uk-grid-margin uk-grid uk-grid-stack" uk-grid>
        <div class="uk-width-1-1@m">
          <div class="uk-margin uk-width-large uk-margin-auto uk-card uk-card-default uk-card-body uk-box-shadow-large">

            <h3 class="uk-card-title uk-text-center"><%= t('confirm_phone_number') %></h3>
            <%= form_for(:confirm_phone_number, url: confirm_phone_number_path) do |f| %>

              <%= render 'shared/error_messages', obj: nil %>

              <div class="uk-margin <%= 'uk-text-right' if I18n.locale == :ar %>">
                <%= f.label :confirmation_code, t('confirmation_code') %>
                <div class="uk-inline uk-width-1-1">
                  <span class="uk-form-icon <%= 'uk-form-icon-flip' if I18n.locale == :ar %>" uk-icon="icon: commenting"></span>
                  <%= f.number_field :confirmation_code, class: "uk-input uk-form-large #{'uk-text-right' if I18n.locale == :ar}", id: 'confirmation_code' %>
                </div>
              </div>

              <div class="uk-margin">
                <%= f.submit t('submit'), class: "uk-button uk-button-danger uk-button-large uk-width-1-1" %>
              </div>

              <div class="uk-text-small uk-text-center">
                <p>
                  <%= t('enter_confirmation_code', phone: current_user.phone.gsub(/.(?=.{4})/,'*')) %><br>
                  <%= t('did_not_get_the_code') %> <%= link_to t('resend_confirm_code'), resend_confirm_code_path, method: :post, remote: true %>
                </p>
              </div>

            <% end %>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
