<nav class="uk-navbar-container uk-margin" uk-navbar="mode: click">
  <% if I18n.locale == :ar %>
    <div class='uk-navbar-left'>
      <ul class="uk-navbar-nav">
        <% if logged_in? %>
          <li><%= link_to t('logout'), logout_path, method: :delete %></li>
          <li><%= render 'layouts/settings_dropdown_menu' %></li>
        <% else %>
          <li><%= link_to t('login'), login_path %></li>
        <% end %>
      </ul>
    </div>
    <div class='uk-navbar-right'>
      <ul class="uk-navbar-nav">
        <li>
          <%= render 'layouts/locale_dropdown' %>
        </li>
        <li><%= link_to 'Vein', root_path, class: 'logo' %></li>
      </ul>
    </div>
  <% else %>
    <div class='uk-navbar-left'>
      <ul class="uk-navbar-nav">
        <li><%= link_to 'Vein', root_path, class: 'logo' %></li>
        <li>
          <%= render 'layouts/locale_dropdown' %>
        </li>
      </ul>
    </div>
    <div class='uk-navbar-right'>
      <ul class="uk-navbar-nav">
        <% if logged_in? %>
          <li><%= render 'layouts/settings_dropdown_menu' %></li>
          <li><%= link_to t('logout'), logout_path, method: :delete %></li>
        <% else %>
          <li><%= link_to t('login'), login_path %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
</nav>
