<nav class="uk-navbar-container uk-margin <%= 'uk-navbar-transparent' if @transparent %>" uk-navbar="mode: click">
  <div class='<%= rtl? == true ? 'uk-navbar-right' : 'uk-navbar-left' %>'>
    <ul class="uk-navbar-nav">
      <li><%= link_to 'Vein', root_path, class: 'logo' %></li>
      <li class='uk-visible@s'>
        <%= render 'layouts/locale_dropdown.html.erb' %>
      </li>
    </ul>
  </div>
  <div class='<%= rtl? == true ? 'uk-navbar-left' : 'uk-navbar-right' %>'>
    <ul class="uk-navbar-nav uk-visible@s">
      <% if logged_in? %>
        <li><%= link_to t('settings'), edit_user_path %></li>
        <li><%= link_to t('logout'), logout_path, method: :delete %></li>
      <% else %>
        <li><%= link_to t('login'), login_path %></li>
      <% end %>
    </ul>
    <a href="#" class="uk-navbar-toggle uk-hidden@s" uk-navbar-toggle-icon uk-toggle="target: #sidenav"></a>
  </div>
</nav>

<div id="sidenav" uk-offcanvas="flip: true; mode: push;" class="uk-offcanvas">
  <div class="uk-offcanvas-bar">
    <ul class="uk-nav">
      <li><%= link_to 'Vein', root_path, class: 'logo' %></li>
      <li>
        <%= render 'layouts/locale_dropdown.html.erb' %>
      </li>
      <% if logged_in? %>
        <li><%= link_to t('settings'), edit_user_path %></li>
        <li><%= link_to t('logout'), logout_path, method: :delete %></li>
      <% else %>
        <li><%= link_to t('login'), login_path %></li>
      <% end %>
    </ul>
  </div>
</div>

